.nav{
    background-color: rgb(5, 39, 192)!important;
}
ul li a{
    color: white!important;
}
.pets{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.btn{
    display: flex;
    justify-content: flex-end;
}

.found{
    background-color: black;
    color: white;
}

.services{
    height: 55vh;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 1rem;
 
}

.ul{
    justify-content: space-between;
}
.footer-services{
    background-color: blueviolet;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    justify-content: space-between;

}